<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Hagging game</title>
</head>
<body>
    <h1>Hagging game</h1>
    <p><strong>Правила игры:</strong> На игровом поле ограниченное количество предметов: одна шапка, две книги и три мяча. Есть два игрока (A и B), у каждого из которых свои оценки ценности каждого предмета, и они хотят разделить эти предметы между собой так, чтобы получить максимальную выгоду. Суммарная ценность предметов у каждого игрока составляет 10. Например, у игрока может быть 1 шапка стоимостью 5, 2 книги по 1 и 3 мяча по 1, что в сумме дает 5 + 2*1 + 3*1 = 10. Игроки не знают ценности предметов у противника. Один игрок может предложить обмен другому, и наоборот. Такие предложения обмена делаются поочередно, всего может быть до 5 предложений обмена.</p>
    <p>Цель состоит в написании программы, конкретно функции на языке C++, чтобы разработать стратегию, которая могла бы договариваться об обмене оптимальным образом для максимизации выгоды против другой стратегии.</p>
    <p><strong>Перед началом игры рекомендуется ознакомиться с некоторыми тонкостями работы программы.</strong></p>
    <p>Используйте функцию в файле следующим образом:</p>
 
    <pre>
#ifdef _WIN32
#define EXPORT __declspec(dllexport)
#else
#define EXPORT __attribute__((visibility("default")))
#endif

extern "C" EXPORT int decide(int turn, int cost_hat, int cost_book, int cost_ball, int count_hat, int count_book, int count_ball);
    </pre>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Начать игру</button>
    </form>
</body>
</html>
